body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.poem {
    background-color: rgb(255, 255, 200);
    border: 5px solid rgb(255, 255, 150);
    text-align: center;
    color: black;
}
